.idea
out
*.iml
*.xml

.DS_Store

week-01/day-2/Medium article/1_EBcKfyBxDTPNIymVoUJ5-Q.jpg
week-01/day-2/Medium article/favicon.ico
week-01/day-2/Medium article/index.html
week-01/day-2/Medium article/style.css

