<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todolist</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<form method="post">
    <h1>Edit Todo</h1>
    <label>Todo description</label>
    <input name="desc" type="text"><br>
    <label>Urgent</label>
    <input name="urgent" type="checkbox"><br>
    <label>Done</label>
    <input name="done" type="checkbox"><br>
    <input type="submit">
    <a href="/list">Cancel</a>
</form>
</body>
</html>