<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:border="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <title>Todolist</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8"/>
    <style>
        body{

        }
        table {
            border: solid darkgrey 1px;
            width: 100%;
            position: center;
            margin: 1px 0px;
        }
        th, td{
            text-align: left;
            padding: 10px;
        }
        tr:nth-child(even){
            background-color: #f0f0f0;
        }
        th{
            background-color: #dbdbdb;
            color: #4d4d4d;
        }
    </style>
</head>
<body>
<form style="padding-top: 20px; font-family: Helvetica ">
    <h1 th:style="'text-align:center;'" class="h1">TODOS FOR TODAY: </h1>
</form>
<form action="/search" method="get" style="margin: auto; width: 50px">
    <input type="text" name="content" placeholder="Search by content">
    <input type="submit">
</form>
<form style="width: 800px; margin: auto; padding-top: 50px;">
    <table class="table-striped"><!--*class="table table-hover"-->
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Done</th>
            <th>Urgent</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.done}"></td>
                <!--<div th:switch=“${todo.done}“>-->
                    <!--<td th:case=“true”><span class=“glyphicon glyphicon-ok” style=“color: green”></span></td>-->
                    <!--<td th:case=“false”><span class=“glyphicon glyphicon-remove” style=“color: red”></span></td>-->
                <!--</div>-->
            <td th:text="${todo.urgent}"></td>
                <!--<div th:switch=“${todo.urgent}“>-->
                    <!--<td th:case=“true”><span class=“glyphicon glyphicon-ok” style=“color: green”></span></td>-->
                    <!--<td th:case=“false”><span class=“glyphicon glyphicon-remove” style=“color: red”></span></td>-->
                <!--</div>-->
            <td><a th:href="'/' + ${todo.id} + '/edit'" class="btn btn-primary btn-xs btn-warning"
                   role="button">Edit</a></td>
            <td><a th:href="'/' + ${todo.id} + '/delete'" class="btn btn-primary btn-xs btn-danger"
                   role="button">Delete</a></td>
        </tr>
    </table>
</form>
<form style="text-align: center; padding-top: 15px">
    <a href="/addTodo" class="btn btn-primary active " role="button">Add new todo</a>
</form>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>