<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todolist</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8"/>
</head>
<body>
    <h1 class="h1">TODOS FOR TODAY: </h1>
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Done</th>
            <th>Urgent</th>
        </tr>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.done}"></td>
            <td th:text="${todo.urgent}"></td>
            <td><a th:href="'/' + ${todo.id} + '/edit'" class="btn btn-primary btn-xs btn-warning" role="button">Edit</a> </td>
            <td><a th:href="'/' + ${todo.id} + '/delete'" class="btn btn-primary btn-xs btn-danger" role="button">Delete</a> </td>
        </tr>
    </table>
    <p th:style="'text-align:center;'"><a href="/addTodo" class="btn btn-primary active " role="button">Add new todo</a></p>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>