<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todolist</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <a href="addTodo">Add new todo</a>
    <h3>TODOS FOR TODAY:</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Done</th>
            <th>Urgent</th>
        </tr>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.done}"></td>
            <td th:text="${todo.urgent}"></td>
            <td><a th:href="'/' + ${todo.id} + '/delete'">Delete</a> </td>
            <td><a th:href="'/' + ${todo.id} + '/edit'">Edit</a> </td>
        </tr>
    </table>
</body>
</html>