<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <h1>Space transporter</h1>
    <thead>
        <tr>
            <th>Planet</th>
            <th>Population</th>
            <th>Spaceship location</th>
            <th>People on ship</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="planet : ${planets}">
            <td th:text="${planet.name}"></td>
            <td th:text="${planet.population}"></td>
            <td th:if="${ship.planet} == ${planet.name}">
                <a><- To planet</a>
                <a> To ship -></a>
            </td>
            <td th:unless="${ship.planet} == ${planet.name}">
                <input type="button">
            </td>
            <td th:if="${ship.planet} == ${planet.name}" th:text="${ship.utilization}"></td>
            <td th:unless="${ship.planet} == ${planet.name}">-</td>
    </tbody>
</table>
</body>
</html>