<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Bank of Simba</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Animaltype</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="account : ${accounts}" th:object="${account}">
            <td th:text="*{name}"></td>
            <td th:text="*{balance}"></td>
            <td th:text="*{animaltype}"></td>
        </tr>
    </tbody>
    <form method="post">
        <label>New account</label>
        <input type="text" name="name">
        <input type="text" name="balance">
        <input type="text" name="animaltype">
        <input type="submit" value="Create">
    </form>
</table>
</body>
</html>