<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul>
    <li><a href="">Information</a></li>
</ul>
<img src="greenfox.png">
<p th:utext="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' ${fox.drink} + ' He knows 2 tricks.'"></p>
<h1>Known tricks</h1>
<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>
</body>
</html>